{% extends "layouts/base.html" %}

{% block title %} Search Results {% endblock title %}

{% block content %}
<h2>Search Results</h2>

{% if books %}
    <ul>
    {% for book in books %}
        <li><strong>{{ book.title }}</strong> by {{ book.author }}</li>
    {% endfor %}
    </ul>
{% else %}
    <p>No books found matching your search.</p>
{% endif %}

<a href="{% url 'book_search' %}">Go back to search</a>
{% endblock content %}


{% for obj in books %}
    ID: {{obj.id}}, Title: {{obj.title}}
    <hr>
{% endfor %}

